@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add custom global styles here */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f3f4f6; /* A light gray background */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
